/* *{
  outline: 1px solid pink;
} */

.container {
  color: gray;
  margin-top: 50px;
  margin-left: 12%;
}

#msgBox {
  width: 110%;
  padding: 30px;
  height: 250px;
  overflow-y : auto;
  border-radius: 5px;
  border: 2px solid goldenrod;
}

.label {
  color: white;
}

.order-1 {
  margin-right: 150px;
}

.order-2 {
  width: 500px;
  height: 30%;
}

.formBox {
  width: 500px;
  padding: 20px;
  margin-top: 50px;
  padding-top: 5px;
  border-radius: 5px;
  border: 4px solid saddlebrown;
}

#name {
  color: white;
  width: 300px;
}

#comment {
  color: white;
  width: 400px;
  height: 100px;
}

button {
  float: right;
  margin-right: 10px;
}

@media only screen and (max-width: 1400px) {
  .order-2 {
    width: 80%;
  }

  .formBox {
    width: 180%;
  }

  #name {
    width: 90%;
  }

  #comment {
    width: 90%;
  }
}
